<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>百度新闻</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link href="/stylesheets/swiper-3.4.2.min.css" rel="stylesheet" />
</head>   
<body>
	<header>
		<div class="bdlogo clearFix">
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
		</div>
		<div class="bt">
		   <ul class="clearFix" id="ul">
			<li class="on"><a href="javascript:;">推荐</a></li>
			<li class=""><a href="javascript:;">百家</a></li>
			<li class=""><a href="javascript:;">本地</a></li>
			<li class=""><a href="javascript:;">娱乐</a></li>
			<li class=""><a href="javascript:;">社会</a></li>
			<li class=""><a href="javascript:;">军事</a></li>
			<li class=""><a href="javascript:;">女人</a></li>
			<li class=""><a href="javascript:;">搞笑</a></li>
			<li class=""><a href="javascript:;">互联网</a></li>
			<li class=""><a href="javascript:;">科技</a></li>
			<li class=""><a href="javascript:;">生活</a></li>
			<li class=""><a href="javascript:;">国际</a></li>
			<li class=""><a href="javascript:;">国内</a></li>
			<li class=""><a href="javascript:;">体育</a></li>
			<li class=""><a href="javascript:;">汽车</a></li>
			<li class=""><a href="javascript:;">财经</a></li>
			<li class=""><a href="javascript:;">房产</a></li>
			<li class=""><a href="javascript:;">时尚</a></li>
			<li class=""><a href="javascript:;">教育</a></li>
			<li class=""><a href="javascript:;">游戏</a></li>
			<li class=""><a href="javascript:;">旅游</a></li>
			<li class=""><a href="javascript:;">人文</a></li>
			<li class=""><a href="javascript:;">创意</a></li>
		   </ul>
		</div>
		<span></span>
	</header>
	<!-- 页面 -->
	<div class="div show" id="div1">
	  <div class="swiper-container tp">
		<ul class="swiper-wrapper">
			<li class="swiper-slide">
				<a href="javascript:;"><img src="/images/1.jpg" alt=""></a>
				<span>一周看天下</span>
			</li>
			<li class="swiper-slide">
				<a href="javascript:;"><img src="/images/2.jpg" alt=""></a>
				<span>烫伤女孩洗车铺免费跳舞吸客</span>
			</li>
			<li class="swiper-slide">
				<a href="javascript:;"><img src="/images/3.jpg" alt=""></a>
				<span>光伏扶贫照亮致富路</span>
			</li>
		</ul>
		<div class="swiper-pagination"></div>
		<!-- <div class="xd clearFix">
            <span class="on1"></span>
            <span></span>
            <span></span>
        </div> -->
	  </div>
	  <%var subArray=classifys[0];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[1];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[2];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[3];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[4];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[5];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[6];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[7];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[8];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>

	<div class="div" id="div1">
	  <%var subArray=classifys[9];%>
	  <%for(var i=0;i<subArray.length;i++){%>
	  	<%var obj=subArray[i];%>
	  <div class="nr clearFix">
		<img src="<%= obj.newsImg%>" alt="">
		<div>
			<p><%= obj.newsTitle%></p>
			<span><%= obj.newsTime%></span>
		</div>
	  </div>
	  <%}%>
	</div>













<script type="text/javascript" src="/javascripts/swiper-3.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/baidu.js"></script>
</body>
</html>












